<h2> Adoptable Moggies </h2>

<div id="cat-wrapper">
  <% @cats.each do |cat| %>

    <div class="cat">
      <h3><a href="/cats/<%= cat.id%>"><%=cat.name%> (click to edit)</a>
      </h3>
      <p>Age: <%= cat.age %></p>
      <p>Gender: <%= cat.gender %></p>
      <p>Color: <%= cat.color %></p>
      <p>Description: <%= cat.description %></p>
      <p>Admission Date: <%= cat.admission_date.strftime('%d %b %Y') %></p>
      <p>Adoptable?: <%= cat.adoptable == 't' ? "Yes" : "No" %></p>
      <img src="/images/<%= cat.id %>.jpeg" alt="cat photo"> </img>
      <p>Owner: <%= cat.owner.name %></p>

    </div>

  <% end %>

</div>
