<h2> Owners registered at Maggie's Moggies </h2>

<div id="owner-wrapper">

    <table class="owners">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Background</th>
        <th>Accommodation Type</th>
        <th>Number of cats</th>
        <th>Cats adopted</th>
      </tr>

    <% @owners.each do |owner| %>
      <tr>
        <td><a href="/owners/<%=owner.id%>"><%=owner.name%></a></td>
        <td><%= owner.age %></td>
        <td><%= owner.background %></td>
        <td><%= owner.accommodation_type %></td>
        <td><%= owner.cats.length %></td>
        <td>
          <% owner.cats.each do |cat| %>
            <%= cat.name %>
          <% end %>
        </td>
      </tr>
    <% end %>

  </table>

    <hr></hr>

</div>
