<h2><%= @owner.name %></h2>

<p>Age: <%= @owner.age%></p>
<p>Background: <%= @owner.background%></p>
<p>Accommodation Type: <%= @owner.accommodation_type%></p>
<p>Number of cats: <%= @owner.cats.length%></p>
<p>Cats adopted:</p>
<% @owner.cats.each do |cat| %><%=cat.name%> ,
<% end %>
</p>


<a href="/owners/<%=@owner.id%>/edit">Edit Owner Details</a>
<form action="/owners/<%=@owner.id%>/delete"
  method="POST"><input type="submit"
  value="Remove owner permanently from database"></form>
