<h2>Edit <%= @cat.name %></h2>
<form method="POST" action="/cats/<%=@cat.id%>">
  <div class="form-wrapper">



    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%=@cat.name %>" readonly/>
    </div>

    <div class="form-el">
      <label for="age">Age:</label>
      <input type="text" name="age" id="age" value="<%=@cat.age %>" readonly/>
    </div>

    <div class="form-el">
      <label for="gender">Gender:</label>
      <input type="text" name="gender" id="gender" value="<%=@cat.gender %>" readonly/>
    </div>

    <div class="form-el">
      <label for="color">Color:</label>
      <input type="text" name="color" id="color" value="<%=@cat.color %>"/>
    </div>

    <div class="form-el">
      <label for="description">Description:</label>
      <input type="text" name="description" id="description" size="100" value="<%=@cat.description %>"/>
    </div>

    <div class="form-el">
      <label for="admission_date">Admission Date:</label>
      <input type="text" name="admission_date" id="admission_date" value="<%=@cat.admission_date %>"/>
    </div>

    <div class="form-el">
      <label for="adoptable">Adoptable?:</label>
      <select id="adoptable" name="adoptable">
        <option value="f" <%= 'selected' if @cat.adoptable == 'f' %> >No</option>
        <option value="t" <%= 'selected' if @cat.adoptable == 't' %>>Yes</option>
      </select>
    </div>

    <div class="form-el">
      <label for="owner_select">Select new owner:</label>
      <select name="owner_id" id="owner_select"
      selected="<%= @cat.owner_id %>">
      <% @owners.each do |owner| %>
        <% if owner.id == @cat.owner_id %>
          <option value=<%= owner.id %>
            selected><%= owner.name%></option>
            <% else %>
            <option value=<%= owner.id %>><%=owner.name %></option>
            <% end %>

            <% end %>
          </select>
        </div>

    <div class="form-el">
      <input type="submit" value="Save changes to this pet"/>
    </div>

  </div>
</form>
