<h2><%= @cat.name %></h2>

<p>Owner: <%= @cat.owner.name%></p>
<p>Age: <%= @cat.age %></p>
<p>Gender: <%= @cat.gender %></p>
<p>Color: <%= @cat.color %></p>
<p>Description: <%= @cat.description %></p>
<p>Admission Date: <%= @cat.admission_date %></p>
<p>Status: <%= @cat.status %></p>

<a href="/cats/<%= @cat.id%>/edit">Edit Cat Details</a>
<form action="/cats/<%= @cat.id%>/delete" method="POST"><input type="submit" value="Remove cat permanently from database"></form>
